@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply overflow-x-hidden m-0 p-0 w-full;
        -webkit-tap-highlight-color: transparent;
    }
    }

    @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    }

    /* Dans index.css */
    @keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(8px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
    }

    .animate-fadeIn {
    animation: fadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
